<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JSON构建</title>
    <link rel="stylesheet" type="text/css" href="css/JsonBuilder.css">
    <link rel="stylesheet" type="text/css" href="static/gallery/element/element.css">
    <script type="text/javascript" src="static/common/dom.js"></script>
    <script type="text/javascript" src="static/gallery/vue/vue.min.js"></script>
    <script type="text/javascript" src="static/gallery/element/element.js"></script>
    <script type="text/javascript" src="components/custom.field.js"></script>
    <script type="text/javascript" src="components/custom.search.js"></script>
    <script type="text/javascript" src="components/builder.js"></script>
    <script type="text/javascript" src="components/index.js"></script>
    <script type="text/javascript" src="config/fields.js"></script>
    <script type="text/javascript" src="static/common/field.js"></script>
    <script type="text/javascript" src="static/common/uuid.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>

<body>
    <div id="app" class="json-container">
        <div class="json-input">
            <el-input type="textarea" placeholder="你可以在此输入通用查询JSON串,也可以在选择通用查询配置json文件" v-model="generalFieldsJSONString">
            </el-input>
        </div>
        <div class="json-runner">
            <el-button type="primary" @click="analyzeJSON">解析JSON</el-button>
            <p>
                <label>自定义列中的复选框勾选后,表示会默认展示的列,而自定义查询字段复选框勾选后表示需要显示的表单元素</label>
            </p>
        </div>
        <div class="fields-content">
            <el-tabs v-model="currentModule">
                <el-tab-pane label="自定义列" name="custom-field">
                    <custom-field :fields="customColumnFields" />
                </el-tab-pane>
                <el-tab-pane label="自定义查询字段" name="custom-search">
                    <custom-search :fields="customSearchFields" />
                </el-tab-pane>
            </el-tabs>
        </div>
    </div>
</body>

<!-- 
自定义列
@author xuzengqiang
@date 2018-05-25 11:51:56
-->
<script type="text/x-template" id="custom-field-template">
    <div id="custom-field-editor">
        <el-table :data="fields" @selection-change="selectionChangeHandle" height="400" :row-class-name="tableRowClassName">
            <el-table-column type="selection"></el-table-column>
            <el-table-column type="index" label="序号"></el-table-column>
            <el-table-column label="字段名称">
                <el-input slot-scope="scope" v-model="scope.row.label"></el-input>
            </el-table-column>
            <el-table-column label="是否移除该列">
                <template slot-scope="scope">
                    <el-select v-model="scope.row.ignore">
                        <el-option v-for="(item, property) in ignores" :key="property" :label="item" :value="property">
                        </el-option>
                    </el-select>
                </template>
            </el-table-column>
            <el-table-column label="宽度(px)">
                <el-input slot-scope="scope" v-model="scope.row.width"></el-input>
            </el-table-column>
            <el-table-column prop="propertyName" label="属性名称"></el-table-column>
            <el-table-column prop="columnName" label="数据库列名"></el-table-column>
            <el-table-column prop="columnType" label="数据库类型"></el-table-column>
            <el-table-column label="过滤器">
                <template slot-scope="scope">
                    <el-select v-model="scope.row.filter" v-if="scope.row.columnType.toLowerCase() === 'date'">
                        <el-option v-for="(item, property) in filters" :key="property" :label="item" :value="property">
                        </el-option>
                    </el-select>
                    <label v-else>{{scope.row.filter}}</label>
                </template>
            </el-table-column>
            <el-table-column prop="lookupCode" label="数据字典"></el-table-column>
        </el-table>
        <builder @click="builderCustomColumn" :json="customColumnJSON">生成自定义列JSON</builder>
    </div>
</script>

<!-- 自定义查询template -->
<script type="text/x-template" id="custom-search-template">
    <div class="custom-search-editor">
        <el-table :data="fields" @selection-change="selectionChangeHandle" height="400">
            <el-table-column type="selection"></el-table-column>
            <el-table-column type="index" label="序号"></el-table-column>
            <el-table-column prop="label" label="字段名称"></el-table-column>
            <el-table-column prop="propertyName" label="属性名称"></el-table-column>
            <el-table-column prop="columnName" label="数据库列名"></el-table-column>
            <el-table-column prop="columnType" label="数据库类型"></el-table-column>
            <el-table-column prop="lookupCode" label="数据字典"></el-table-column>
        </el-table>

        <div class="custom-search-field-config" v-if="customSearchFields.length">
            <p class="tip">
                注意：自定义查询字段详细配置.后续会持续优化,如遇到特殊情况可以重新编辑.
            </p>
            <el-table :data="customSearchFields">
                <el-table-column type="index" label="序号"></el-table-column>
                <el-table-column label="字段名称">
                    <el-input slot-scope="scope" v-model="scope.row.label"></el-input>
                </el-table-column>
                <el-table-column label="placeholder">
                    <el-input slot-scope="scope" v-model="scope.row.placeholder"></el-input>
                </el-table-column>
                <el-table-column label="表单类型">
                    <template slot-scope="scope">
                        <label v-if="scope.row.columnType == 'date' || scope.row.columnType == 'enum'">{{scope.row.type}}</label>
                        <el-select v-else v-model="scope.row.type">
                            <el-option v-for="(item, property) in elementTypes" :key="property" :label="item" :value="property">
                            </el-option>
                        </el-select>
                    </template>
                </el-table-column>
                <el-table-column label="是否禁用">
                    <el-select slot-scope="scope" v-model="scope.row.disabled">
                        <el-option v-for="(item, property) in disableds" :key="property" :label="item" :value="property">
                        </el-option>
                    </el-select>
                </el-table-column>
                <el-table-column label="前括号">
                    <el-input slot-scope="scope" v-model="scope.row.frontBrackets"></el-input>
                </el-table-column>
                <el-table-column label="后括号">
                    <el-input slot-scope="scope" v-model="scope.row.postBrackets"></el-input>
                </el-table-column>
                <el-table-column label="条件关系">
                    <el-select slot-scope="scope" v-model="scope.row.conditionOperation">
                        <el-option v-for="(item, property) in conditionOperations" :key="property" :label="item" :value="property">
                        </el-option>
                    </el-select>
                </el-table-column>
                <el-table-column label="条件操作符">
                    <el-select slot-scope="scope" v-model="scope.row.operation">
                        <el-option v-for="(operation, property) in scope.row.compareMap" :key="property" :label="operation" :value="property">
                        </el-option>
                    </el-select>
                </el-table-column>
                <el-table-column label="日期类型">
                    <template slot-scope="scope">
                        <el-select v-model="scope.row.dateType" v-if="scope.row.columnType.toLowerCase() === 'date'">
                            <el-option v-for="(item, property) in dateTypes" :key="property" :label="item" :value="property">
                            </el-option>
                        </el-select>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <builder @click="builderCustomSearch" :json="customSearchJSON">生成自定义列JSON</builder>
    </div>
</script>

<!-- 
json构建
@author xuzengqiang
@date 2018-5-24 23:59:16
-->
<script type="text/x-template" id="builder-template">
<div class="json-builder">
    <el-button type="primary" @click="clickHandle">
        <slot></slot>
    </el-button>
    <el-input type="textarea" v-model="jsonString">
    </el-input>
</div>
</script>

</html>